.notification {
  position: fixed;
  z-index: 100;
  right: 8%;
  top: 25%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px rgb(50, 46, 46);
  background-color: rgb(181, 92, 107);
}

.error-message {
  background-color: rgb(181, 92, 107);
}

.success-message {
  background-color: rgba(99, 230, 81, 0.699);
}
