.card-container {
    display: flex;
    font-style: italic;
    height: 100vh;
    position: relative;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 182, 207, 0.4);
    border: 1px solid rgb(202, 202, 202, 0.5);
    border-radius: 5px;
    width: 700px;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.5);
    position: absolute;
    bottom: 7em;
    right: 7em;
  }

.card-title {
    padding-bottom: 0.5em;
}

p {
    font-size: 18px;
}