<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h2 class="card-title">Card Title</h2>
        <p class="description">
            Some kind of description here that explains this strange behaviour of the system
        </p>
        <p class="description">
            Some kind of description here that explains this strange behaviour of the system
        </p>
        <p class="description">
            Some kind of description here that explains this strange behaviour of the system
        </p>
        <p class="description">
            Some kind of description here that explains this strange behaviour of the system
        </p>
        <p class="description">
            Some kind of description here that explains this strange behaviour of the system
        </p>
        <p class="description">
            Some kind of description here that explains this strange behaviour of the system
        </p>
        <p class="description">
            Some kind of description here that explains this strange behaviour of the system
        </p>
        </div>
    </div>
</div>
