<div class="main-container">
    <div class="container" [class.active]="isActive" id="container">
        <div class="form-container sign-up">
            <form #registerForm="ngForm" (ngSubmit)="registerFormSubmitHandler(registerForm)">
                <h1>Create Account</h1>
                <div class="container-social-icons">
                    <div class="social-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                    </div>
                </div>
                <span>or use your email for registration</span>
                <div class="form-group">
                    <input type="text" placeholder="Name" name="username" id="username" ngModel required>
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email" name="registerEmail" id="registerEmail" ngModel required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="registerPassword" id="registerPassword" ngModel required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Repeat Password" name="rePassword" id="rePassword" ngModel required>
                </div>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form #loginForm="ngForm" (ngSubmit)="loginFormSubmitHandler(loginForm)">
                <h1>Sign In</h1>
                <div class="container-social-icons">
                    <div class="social-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                    </div>
                </div>
                <span>or use your email password</span>
                <div class="form-group">
                    <input type="email" placeholder="Email" name="email" id="email"
                    ngModel required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" id="password" ngModel required>
                </div>
                <a href="#">Forget Your Password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login" (click)="onLoginActive()">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register" (click)="onRegisterActive()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

