@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

.notification {
  position: absolute;
  z-index: 1000;
  right: 8%;
  top: 20%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #000;
  font-family: "Aladin", system-ui;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1.5px;
  font-size: 20px;
  box-shadow: 0 5px 10px rgb(50, 46, 46);
  background-color: rgb(181, 92, 107, 0.25);
}


