<main>
    <h1>Last Arrivals</h1>
    <div *ngIf="isLoading">
        <app-loader />
    </div>

    <div class="component-container" *ngIf="!isLoading">
        <div class="dynamic-content" *ngIf="hasLastArrivals">
            <section class="container" *ngFor="let recipe of lastArrivals">
                <div class="card" [routerLink]="['/site/', recipe.mealType, recipe._id]"><img src="{{recipe.imageUrl}}" alt="{{recipe.recipeName}}"></div>
            </section>
        </div>
        <div *ngIf="!hasLastArrivals">
            <p>There are no recipes yet. Be the first one to add a recipe! :)</p>
        </div>
    </div>
    
</main>

<!-- <div>
    <div *ngIf="isLoading">
        <app-loader />
    </div>

    <div class="component-container" *ngIf="!isLoading">

        <div class="section-menu" *ngIf="hasLastArrivals">
            
            <div class="menu-breakfast section-content" *ngFor="let recipe of lastArrivals">
                <article>
                    <div class="media">
                        <img src="{{recipe.imageUrl}}" alt="{{recipe.recipeName}}">
                    </div>
                    <div class="entry-content">
                        <h2>{{recipe.recipeName}}</h2>
                        <p>{{recipe.ingredients}}</p>

                        <a [routerLink]="['/', recipe.mealType, recipe._id]">view more</a>
                    </div>
                </article>
            </div>
        </div>

        <div *ngIf="!hasLastArrivals">
            <p>There are no recipes in this collection yet.</p>
        </div>
    </div>
</div> -->

