main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10em;
  min-height: 100vh;
}

h1 {
  text-align: right;
  padding: 0 1em 1em 0;
  font-size: 4em;
  font-style: italic;
  color: rgb(104, 54, 63);
  transition: color 0.5s;
  opacity: 0.7;
}

h1:hover {
  color: #000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.dynamic-content {
  display: flex;
  gap: 1em;
}

.card {
  flex: 0 0 60px;
  width: 160px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.6);
  border-radius: 0.5em;
  transition: all 0.3s ease-in;
}

.card:hover {
  width: 400px;
  flex: 0 0 400px;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.8);
}

.card img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
