main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10em;
  min-height: 100vh;
}

h1 {
  text-align: right;
  padding: 0 1em 1em 0;
  font-size: 4em;
  font-style: italic;
  color: rgb(104, 54, 63);
  transition: color 0.5s;
  opacity: 0.7;
}

h1:hover {
  color: #000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.dynamic-content {
  display: flex;
  gap: 1em;
}

.card {
  flex: 0 0 60px;
  width: 160px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.6);
  border-radius: 0.5em;
  transition: all 0.3s ease-in;
}

.card:hover {
  width: 400px;
  flex: 0 0 400px;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.8);
}

.card img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* img {
  display: block;
  width: 100%;
  height: auto;
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em;
}

h1 {
  text-align: right;
  padding-right: 2em;
  font-size: 5em;
  color: rgb(104, 54, 63);
  transition: color 0.5s; 
  opacity: 0.7;
}

h1:hover {
  color: #000;
}

.section-menu {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
}

.menu-breakfast.section-content {
  display: flex;
  gap: 1.5em;
}

.section-content article {
  display: flex;
  max-width: 25em;
  flex-direction: column;
}

.section-content article {
  background-color: rgb(225, 225, 225, 0.5);

}

.section-content article,
.section-content article .media {
  overflow: hidden;
  border-radius: 1em;
}

.section-content .entry-content {
  padding: 1.5em;
}

.section-content .entry-content p {
  padding: 1em 0 1.5em 0;
}

.section-content .entry-content a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #882262;
  background-color: rgb(181, 92, 107);
  color: #fff;
  border-radius: 1.2em;
  padding: 0.3em 1.5em;
  font-size: 10px;
  outline: 1px solid #fff;
} */
