<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h2>Add New Recipe</h2>
            <form #form="ngForm" (ngSubmit)="addRecipe(form)">
                <div class="form-content">
                    <div class="form-group">
                        <label for="imageUrl">Image URL:</label>
                        <input type="text" id="imageUrl" name="imageUrl" placeholder="https://..." ngModel
                            #inputImageUrl="ngModel" required pattern="^https?:\/\/.*" />
                    </div>
                    <ng-container *ngIf="inputImageUrl.touched">
                        <p class="error" *ngIf="inputImageUrl.errors?.['required']">
                            Image is required!
                        </p>
                        <p class="error" *ngIf="inputImageUrl.errors?.['pattern']">
                            Please enter a valid URL!
                        </p>
                    </ng-container>
                    <div class="form-group">
                        <label for="recipeName">Recipe Name:</label>
                        <input type="text" id="recipeName" name="recipeName" #inputRecipeName="ngModel" ngModel
                            minlength="5" required />
                    </div>
                    <ng-container *ngIf="inputRecipeName.touched">
                        <p class="error" *ngIf="inputRecipeName.errors?.['required']">
                            Recipe name is required!
                        </p>
                        <p class="error" *ngIf="inputRecipeName.errors?.['minlength']">
                            Recipe name must be at least 5 characters!
                        </p>
                    </ng-container>
                    <div class="form-group ingredients">
                        <label for="ingredientQty">Ingredients:</label>
                        <div id="ingredients-container">
                            <input type="number" min="0" name="ingredientQty" id="ingredientQty"
                                #inputIngredientQty="ngModel" ngModel required="" />
                            <select id="ingredientType" name="ingredientType" ngModel>
                                <option value="ml">ml</option>
                                <option value="l">l</option>
                                <option value="g">g</option>
                                <option value="kg">kg</option>
                                <option value="cup">cup</option>
                                <option value="ts">ts</option>
                                <option value="tbs">tbs</option>
                                <option value="qty">qty</option>
                            </select>
                            <input type="text" name="ingredientName" id="ingredientName" #inputIngredientName="ngModel"
                                ngModel required="" />
                        </div>
                        <button type="button" (click)="addIngredient($event, form)">Add Ingredient</button>
                    </div>
                    <ng-container *ngIf="inputIngredientQty.touched">
                        <p class="error" *ngIf="inputIngredientQty.errors?.['required']">
                            Ingredient quantity is required!
                        </p>
                    </ng-container>
                    <ng-container *ngIf="inputIngredientName.touched">
                        <p class="error" *ngIf="inputIngredientName.errors?.['required']">
                            Ingredient name is required!
                        </p>
                    </ng-container>
                    <div class="form-group">
                        <label for="instruction">Instructions:</label>
                        <textarea id="instruction" name="instruction"
                            placeholder="Please add your instructions step by step" #textareaInstruction="ngModel"
                            ngModel required>
                        </textarea>
                        <button type="button" (click)="addInstruction($event, form)">Add Step</button>
                    </div>
                    <ng-container *ngIf="textareaInstruction.touched">
                        <p class="error" *ngIf="textareaInstruction.errors?.['required']">
                            Instruction is required!
                        </p>
                    </ng-container>
                    <div class="form-group">
                        <label for="prepTime">Preparation Time (minutes):</label>
                        <input type="number" id="prepTime" name="prepTime" min="0" #inputPrepTime="ngModel" ngModel required>
                    </div>
                    <ng-container *ngIf="inputPrepTime.touched">
                        <p class="error" *ngIf="inputPrepTime.errors?.['required']">
                            Preparation time is required!
                        </p>
                    </ng-container>
                    <div class="form-group">
                        <label for="cookTime">Cooking Time (minutes):</label>
                        <input type="number" id="cookTime" name="cookTime" min="0" #inputCookTime="ngModel" ngModel required>
                    </div>
                    <ng-container *ngIf="inputCookTime.touched">
                        <p class="error" *ngIf="inputCookTime.errors?.['required']">
                            Cooking time is required!
                        </p>
                    </ng-container>
                    <div class="form-group">
                        <label for="servings">Servings:</label>
                        <input type="number" id="servings" name="servings" min="0" #inputServings="ngModel" ngModel required>
                    </div>
                    <ng-container *ngIf="inputServings.touched">
                        <p class="error" *ngIf="inputServings.errors?.['required']">
                            Servings are required!
                        </p>
                    </ng-container>
                    <div class="form-group">
                        <label for="difficulty">Difficulty:</label>
                        <select id="difficulty" name="difficulty" ngModel #selectDificulty="ngModel" required>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="difficult">Difficult</option>
                        </select>
                    </div>
                    <ng-container *ngIf="selectDificulty.touched">
                        <p class="error" *ngIf="selectDificulty.errors?.['required']">
                            Difficulty is required!
                        </p>
                    </ng-container>
                    <div class="form-group">
                        <label for="mealType">Meal type:</label>
                        <select id="mealType" name="mealType" ngModel #selectMealType="ngModel" required>
                            <option value="salads">Salads</option>
                            <option value="mains">Mains</option>
                            <option value="desserts">Desserts</option>
                        </select>
                    </div>
                    <ng-container *ngIf="selectMealType.touched">
                        <p class="error" *ngIf="selectMealType.errors?.['required']">
                            Meal Type is required!
                        </p>
                    </ng-container>
                </div>
                <div class="buttons">
                    <button type="submit" class="add-recipe">Add
                        Recipe</button>
                </div>
            </form>
        </div>
    </div>
</div>