<header>
    <div class="site-logo">
        <a href="#">delicious to you</a>
    </div>

    <nav>
        <ul>
            <li><a routerLink="/">home</a></li>
            <li><a routerLink="/food-section">food section</a></li>
            <li><a routerLink="/login">login</a></li>
            <!-- <li><a routerLink="/register">register</a></li> -->
        </ul>
        <ul>
            <li><a href="#">add recipe</a></li>
            <li><a href="#">my profile</a></li>
            <li><a href="#">logout</a></li>
        </ul>
            
        
    </nav>
</header>

