<header>
    <div class="site-logo">
        <a routerLink="/">delicious to you</a>
    </div>

    <nav>
        <ul *ngIf="!isLoggedIn">
            <li><a routerLink="/">home</a></li>
            <li class="meal-choices"><a (click)="toggleChoices()">Meal choices</a>
                <ul class="choices" *ngIf="isShownChoices">
                    <li class="hover"><a routerLink="salads">Salads</a></li>
                    <li class="hover"><a routerLink="main-courses">Mains</a></li>
                    <li class="hover"><a routerLink="desserts">Desserts</a></li>
                </ul>
            </li>
            <li><a routerLink="/login">sign in / sign up</a></li>
        </ul>
        <ul *ngIf="isLoggedIn">
            <li><a routerLink="/add-recipe">add recipe</a></li>
            <li><a routerLink="/my-recipes">my profile</a></li>
            <li><a (click)="signOut()" class="sign-out">sign out</a></li>
        </ul>


    </nav>
</header>