<header>
    <div class="site-logo">
        <a routerLink="/">delicious to you</a>
    </div>

    <nav>
        <ul *ngIf="!isLoggedIn">
            <li><a routerLink="/">home</a></li>
            <li><a routerLink="/recipesList">all recipes</a></li>
            <li><a routerLink="/login">login</a></li>
            <!-- <li><a routerLink="/register">register</a></li> -->
        </ul>
        <ul *ngIf="isLoggedIn">
            <li><a routerLink="/add-recipe">add recipe</a></li>
            <li><a routerLink="/profile">my profile</a></li>
            <li><a (click)="logout()" class="logout">logout</a></li>
        </ul>
            
        
    </nav>
</header>

