<div class="card-container">
    <div class="card">
        <article class="card-content">

            <div class="media">
                <img src="https://cdn.dummyjson.com/recipe-images/1.webp" alt="recipe">
            </div>

            <div class="recipe-icons">
                <div class="icon">
                    <i class="fa-regular fa-clock"></i>
                    <span class="text">Cook Time: 10 min</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-hourglass-start"></i>
                    <span class="text">Prep Time: 30 min</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-utensils"></i>
                    <span class="text">Servings: 4</span>
                </div>
            </div>

            <div class="entry-content">
                <div class="title">
                    <h4 class="sub-title">mains</h4>

                    <h2>Classic Margherita Pizza</h2>
                </div>

                <p>900g Pizza dough</p>
                <p>Preheat the oven to 475°F (245°C).</p>
            </div>

            <div class="buttons">
                <a [routerLink]="['/', recipe.mealType, recipe._id, 'edit']">Edit</a>
                <button type="button" (click)="onLike()">Like</button>
            </div>
        </article>
    </div>
</div>