<div class="card-container">
    <div class="card">
        <article class="card-content">

            <div class="media">
                <img src="{{recipe.imageUrl}}" alt="{{recipe.recipeName}}">
            </div>

            <div class="recipe-icons">
                <div class="icon">
                    <i class="fa-regular fa-clock"></i>
                    <span class="text info">Prep Time:</span>
                    <span class="text">{{recipe.prepTime}} min</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-hourglass-start"></i>
                    <span class="text info">Cook Time:</span>
                    <span class="text">{{recipe.cookTime}} min</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-utensils"></i>
                    <span class="text info">Servings:</span>
                    <span class="text">{{recipe.servings}}</span>
                </div>

                <div class="icon">
                    <i class="fa-solid fa-person-digging"></i>
                    <span class="text info">Difficulty:</span>
                    <span class="text">{{recipe.difficulty}}</span>
                </div>

                
            </div>

            <div class="entry-content">
                <div class="title">
                    <h2>{{recipe.recipeName}}</h2>
                    
                    <h5 class="sub-title">Meal type: <span>{{recipe.mealType}}</span></h5>
                </div>

                <ul *ngFor="let ingredient of recipe.ingredients">
                    <li>{{ingredient}}</li>
                </ul>
                <p>Instructions:</p>

                <ul *ngFor="let instruction of recipe.instructions">
                    <li>{{instruction}}</li>
                </ul>
            </div>

            <div class="buttons"> 
                <a [routerLink]="['/', recipe.mealType, recipe._id, 'edit']">Edit</a>
                <button type="button" (click)="onLike()">Like</button>
            </div>
        </article>
    </div>
</div>