<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h2 class="card-title">Share your favorite recipe<br>on social media</h2>

            <div class="icons">
                <ul class="icons-container">
                    <li><a class="facebook" href="https://www.facebook.com/">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a></li>
                    <li><a class="twitter" href="https://twitter.com">
                        <i class="fa-brands fa-twitter"></i>
                    </a></li>
                    <li><a class="instagram" href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram"></i>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>