.card-container {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 182, 207, 0.7);
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid rgb(202, 202, 202, 0.5);
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10em;
  right: 10em;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}

.card-title {
  font-weight: bold;
  font-style: italic;
  color: #423c3c;
  padding-bottom: 0.5em;
  text-align: center;
  font-style: italic;
}

ul.icons {
  display: flex;
  gap: 2em;
  list-style-type: none;
}

ul.icons li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(rgba(181, 92, 107, 0.6), rgba(215, 77, 139, 0.6));
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 50%;
  color: black;
}

ul.icons li a:hover {
  color: #fff;
  background: linear-gradient(#b55c6b, #d74d8b);
}
